<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Index</title>
</head>
    <h1>Here is a list of blogs</h1>
    <%blogs.forEach((blog) => {%>
        <ul>
            <li><%=blog.title%></li>
        </ul>
    <%})%>
    <br>
    <a href="/blogs/new">Create a new blog</a>
</body>
</html>